ion-content{
    --background: linear-gradient( to right, #243949, #517fa4);
  }
  
  .main_content_div{
  width: 100%;
  
  .menu_btn{
    position: relative;
    top: 40px;
    left: 10px;
  }
  
  ion-label{
    display: block;
    color: #243949;
    text-align: center;
  }
  
  .user_div{
    padding: 20px;
    width: 100%;
    height: 260px;
    background: linear-gradient( to right, #243949, #517fa4);
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
  
    .first_div{
      padding-top: 25px;
      .title{
        font-size: 38px;
        color: white;
        font-weight: 600;
      }
    }
  }
  
  .content_div{
    background: white;
    width: 100%;
    height: 100%;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    margin-top: -90px;
    padding-top: 30px;
    padding-bottom: 60px;
  
    .select_lbl{
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 10px;
      padding-left: 5px;
      margin-top: 10px;
    }
  
    ion-grid{
      padding: 0px;
    }
  
    .col_div{
      background: linear-gradient( to right, #243949, #517fa4);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 110px;
      box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
      border-radius: 5px;
      margin-top: 5px;
      font-size: 18px;
     
      img{
        width: 70px;
      }
     
      ion-label{
        color: white;
      }

      .input-filter{
        background: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        text-align: center;
        height: 40px;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 10px;
        padding-left: 10px;
        color: black;
        width: 95%;
      }
    }

    #conferma_btn{
      height: 50px;
    }
  }
  
  .footer{
    width: 100%;
    height: 20px;
    color: white;
    background: linear-gradient( to right, #243949, #517fa4);
    position:absolute;
    bottom: 5px;
    text-align: right;
    justify-content: center;
    padding-right: 10px;
  }
  }
  
  .animated{
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  
  @-webkit-keyframes bounceInUp{
  0%{
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  60%{
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }
  80%{
    -webkit-transform: translateY(10px);
  }
  100%{
    -webkit-transform: translateY(0px);
  }
  }
  
  .bounceInUp{
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
  }
  
  @keyframes bounceInUp{
  0%{
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  60%{
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }
  80%{
    -webkit-transform: translateY(10px);
  }
  100%{
    -webkit-transform: translateY(0px);
  }
}
  
.disable-scroll{
  overflow-y: hidden;
}

ion-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: 160px;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal ion-content {
  --background: rgba(209, 213, 219);
  --color: black;
}

ion-modal ion-content {
  --background: rgba(209, 213, 219);
  --color: black;
  .text{
    text-align: center;
    font-size: 24px;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
  text-align: center;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}

.close-btn{
  position: fixed;
  z-index: 90;
  top: 4px;
  right: 8px;
  display: inline-block;
  height: 40px;
}